<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Вы вошли в систему как {% if not request.user.is_authenticated %}  Гость<a class="btn btn-primary" href="{% url 'login' %}" role="button">Войти</a>  {% else %}{{request.user}}{% endif %}
    <a class="btn btn-primary" href="{% url 'logout' %}" role="button"> Выйти</a>
    <a class="btn btn-primary" href="{% url 'register' %}" role="button">Регистрация</a>
    </span>
  </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <p class="alert alert-success">{{message}}</p>
    {% endfor %}
{% endif %}
    <div class="row">
        <div class="col-md-3">
            <h4 class="mt-2">Список всех зарегистрированых пользователей:</h4>
            {% if request.user.is_authenticated %}
                {% for user in users %}
                <ul>{{user.email}}</ul>
                {% endfor %}<br>
            {% else %}
            <h5 class="mt-4 mb-4 fst-italic">Нужно войти в систему что бы просмотреть</h5>
            {% endif %}
        </div>
            <div class="col-md-6">
            {% if request.user.is_authenticated %}
                <h2 class="text-decoration-underline">Список заданий для пользователя - {{request.user}}</h2>
                <div class="d-grid gap-2">
                <a class="btn btn-primary" href="{% url 'add_task' %}">Добавить задание</a>

                </div>
                {% if not tasks %}
                    Заданий для даного пользователя нету
                {% else %}
                {% for task in tasks %}
                <div class="card mt-2 mb-2" style="width: 35rem;">
                <div class="card-body">
                <h5 class="card-title">{{task.name}}</h5>
                <p class="card-text">{{task.description}}</p>
                <a href="{% url 'delete_task' id=task.id %}" class="btn btn-danger">Выполнено</a>
                </div>
                </div>
                {% endfor %} {% endif %}
                {% else %}
                 <h5 class="mt-4 mb-4 fst-italic">Нужно войти в систему что бы просмотреть</h5>


                {% endif %}
            </div>
    </div>


</body>
</html>